<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/myStyles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='JS/myScript.js') }}"></script>
</head>
<body>
    <form action='' method='POST'>
        Name: <input class="inputs" type="text" name="name">
        Email: <input class="inputs" type="text" name="email">
        <input type="submit" value="create user">
    </form>
</body>
</html>